<div>
  <table>
    <thead>
      <th *ngFor="let ico of propName | keyvalue"> {{ ico.value }} </th>
    </thead>
    <tbody>
      <tr *ngFor="let ico of pagedItems ">
        <td *ngFor="let ico2 of propName "> {{ ico[ico2] }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <span *ngIf="pager.pages && pager.pages.length > 1" class="text-right text-lighter pr-2">Showing Page {{pager.currentPage}}
  of {{ pager.pages.length }}</span> -->

<div>
  <span *ngIf="pagedItems" >Showing {{pagedItems[0]._index}} to {{pagedItems[pagedItems.length-1]._index}} of {{totalItems}} entries</span>
  <nav *ngIf="pager.pages && pager.pages.length > 1" class="text-right">
    <button (click)="loadLess()">Prev</button>
    <button (click)="loadMore()">Next</button>
  </nav>
</div>

<div>
  Page {{pager.currentPage}}
</div>